    <footer class="make-it">
    
        <!---section 1--->
        <div>
            <ul>
                <li><h3 class="yellow">VISIT US</h3></li> 
                <li>CodeSquad Comics</li>
                <li>123 Dorchester Avenue </li>  
                <li>Boston, MA 02124</li>
            </ul>
        </div> 
        
        <!---section 2--->
        <div>
            <ul>
                <li><h3 class="yellow">LINKS</h3></li>
                <li><a href="/">Home</a></li> 
                <li><a href="/about">About</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div> 
        
        <!---section 3--->
        <div>
            <ul>
                <li><h3 class="yellow">FOLLOW US</h3></li>
                <div class="follow">
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                </div>
            </ul>
        </div>
        
        <!---section 4--->
        <div>
            <ul>
                <li><h3 class="yellow">A PRODUCT OF</h3></li>
                <li><a href="http://codesquad.org/" target="_blank"><img src="/images/CodeSquad-logo-b.png" alt="CodeSquad logo with red and black text"></a></li> 
            </ul>
        </div>
    </footer>
</body>
</html>