<header>
    <nav class="nav">
        <a href="/"><img src="/images/CodeSquad-Comics-logo.png" class="codesquad-logo" alt="blue logo of codesquad comics with books image"></a>  
        <ul class="inline-nav">
            <li class="inline-nav"><a href="/">HOME</a></li>
            <li class="inline-nav"><a href="/about">ABOUT</a></li>
            <li class="inline-nav"><a href="/login">LOGIN</a></li>
        </ul>
        <a href="#" class="menu-icon"><i class="fa fa-bars"></i></a>
    </nav>
</header>