<%- include('../partials/head') -%> 

<%- include('../partials/nav') -%> 

    <div class="cc-container">
        <div class="cc-content">
            <h1 class="title centered-text">CODESQUAD COMICS</h1>
            <p>
                CodeSquad Comics is a collection of graphic novels read by Your Name. The site is intended to display comic book covers along with information about each book, including the author, a rating, and other details about the graphic novel. Browse through the complete collection below. Click on the cover image or the Details link to see even more information for each graphic novel including the publisher, genre, number of pages, and a brief synopsis. The About page includes meta information about this collection. Login is only available to the site administrator at this time.
            </p>
        </div>
    </div>

    <div class="ccc-container">
        <h2 class="title centered-text">COMPLETE COMIC COLLECTION</h2>
        <div class="ccc-content">
            <div class="align-comics">
                <a href="#"><img class="comic-cover" src="/images/fun-home.jpg" alt="image of fun home bookcover with illustration of family"></a>
                <figcaption>
                    <span class="italic">Fun Home: A Family Tragicomic</span>
                    <span class="center-words">by Alison Bechdel</span> 
                    <span class="center-words">5 stars</span> 
                    <span class="center-words"><a href="#">Details</a></span>
                </figcaption>
            </div>
            <div class="align-comics">
                <a href="#"><img class="comic-cover" src="/images/watchmen.jpg" alt="image of Watchmen comic book cover"></a>
                <figcaption>
                    <span class="italic">Watchmen</span>
                    <span class="center-words">by Alan Moore</span> 
                    <span class="center-words">5 stars</span> 
                    <span class="center-words"><a href="#">Details</a></span>
                </figcaption>
            </div>
            <div class="align-comics">
                <a href="#"><img class="comic-cover" src="/images/hunter-x-hunter.jpg" alt="Hunter X Hunter comic book cover"></a>
                <figcaption>
                    <span class="italic">Hunter X Hunter Vol. 1</span>
                    <span class="center-words">by Yoshihiro Togashi</span> 
                    <span class="center-words">5 stars</span> 
                    <span class="center-words"><a href="#">Details</a></span>
                </figcaption>
            </div>
            <div class="align-comics">
                <a href="#"><img class="comic-cover" src="/images/lumberjanes.jpg" alt="Lumberjanes comic book cover"></a>
                <figcaption>
                    <span class="italic">Lumberjanes Vol. 1</span>
                    <span class="center-words">by Noelle Stevenson</span> 
                    <span class="center-words">4 stars</span> 
                    <span class="center-words"><a href="#">Details</a></span>
                </figcaption>
            </div>
            <div class="align-comics">
                <a href="#"><img class="comic-cover" src="/images/one-piece.jpg" alt="One Piece comic book cover"></a>
                <figcaption>
                    <span class="italic">One Piece, Vol. 1: Romance Dawn</span>
                    <span class="center-words">by Eiichiro Oda</span> 
                    <span class="center-words">5 stars</span> 
                    <span class="center-words"><a href="#">Details</a></span>
                </figcaption>
            </div>
            <div class="align-comics">
                <a href="#"><img class="comic-cover" src="/images/wake.jpg" alt="Wake comic book cover"></a>
                <figcaption>
                    <span class="italic">Wake: The Hidden History of Women-Led Slave Revolts</span>
                    <span class="center-words">by Rebecca Hall</span> 
                    <span class="center-words">4 stars</span> 
                    <span class="center-words"><a href="#">Details</a></span>
                </figcaption>
            </div>
            <div class="align-comics">
                <a href="#"><img class="comic-cover" src="/images/black-panther.jpg" alt="Black Panther comic book cover"></a>
                <figcaption>
                    <span class="italic">Black Panther: A Nation Under Our Feet Book 1</span>
                    <span class="center-words">by Ta-Nehisi Coates</span> 
                    <span class="center-words">3 stars</span> 
                    <span class="center-words"><a href="#">Details</a></span>
                </figcaption>
            </div>
            <div class="align-comics">
                <a href="#"><img class="comic-cover" src="/images/the-walking-dead.jpg" alt="Walking Dead comic book cover"></a>
                <figcaption>
                    <span class="italic">The Walking Dead, Vol. 1: Days Gone Bye</span>
                    <span class="center-words">by Robert Kirkman</span> 
                    <span class="center-words">4 stars</span> 
                    <span class="center-words"><a href="#">Details</a></span>
                </figcaption>
            </div>
            <div class="align-comics">
                <a href="#"><img class="comic-cover" src="/images/march.jpg" alt="March comic book cover"></a>
                <figcaption>
                    <span class="italic">March: Book One</span>
                    <span class="center-words">by John Lewis</span> 
                    <span class="center-words">5 stars</span> 
                    <span class="center-words"><a href="#">Details</a></span>
                </figcaption>
            </div>
            <div class="align-comics">
                <a href="./batman.html"><img class="comic-cover" src="/images/batman.jpg" alt="Batman comic book cover"></a>
                <figcaption>
                    <span class="italic">Batman: The Dark Knight Returns</span>
                    <span class="center-words">by Frank Miller</span> 
                    <span class="center-words">3 stars</span> 
                    <span class="center-words"><a href="./batman.html">Details</a></span>
                </figcaption>
            </div>
            <div class="align-comics">
                <a href="#"><img class="comic-cover" src="/images/queer.jpg" alt="Queer comic book cover"></a>
                <figcaption>
                    <span class="italic">Queer: A Graphic History</span>
                    <span class="center-words">by Meg-John Barker</span> 
                    <span class="center-words">4 stars</span> 
                    <span class="center-words"><a href="#">Details</a></span>
                </figcaption>
            </div>
            <div class="align-comics">
                <a href="#"><img class="comic-cover" src="/images/parable-of-the-sower.jpg" alt="Parable comic book cover"></a>
                <figcaption>
                    <span class="italic">Parable of the Sower</span>
                    <span class="center-words">Octavia E. Butler</span> 
                    <span class="center-words">4 stars</span> 
                    <span class="center-words"><a href="#">Details</a></span>
                </figcaption>
            </div>
        </div>
        <div>
                <input type="button" value="DISPLAY MORE">
        </div>
    </div>

<%- include('../partials/footer') -%>