<%- include('../partials/head') -%> 

<%- include('../partials/nav') -%> 

    <div class="login-container">
        <div class="login-content">
            <h1 class="title centered-text">LOGIN</h1>
            <form action="#">
                <div>
                    <label for="email">Email address:</label>
                    <input type="text" name="email" id="email" placeholder="Email">
                </div>
            
                <div>
                    <label for="password">Password:</label>
                    <input type="text" name="password" id="password" placeholder="Password">
                </div>
            </form>
            <div>
                    <input type="submit" value="Submit">
            </div>
        </div>
    </div>

<%- include('../partials/footer') -%>