:root {
    --white: #ffffff;
    --blue: #063C5E; 
    --yellow: #FCCF14;
    --teal: #006B6B;
    --light-teal: #009E9E;
    --black: #000000;
    --grey: #C2C2C2;
    --body-fonts: 'Open Sans', sans-serif;
    --headers: 'Fredericka the Great', cursive;
    
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 100vw;
    margin: 0;
    overflow-x: hidden;
    background-image: linear-gradient(to top, var(--teal) 0%, var(--light-teal), var(--white) 100%);
    font-size: 1.4rem;
    font-family: var(--body-fonts);
}

.hidden {
    display: none;
}

h1, h2, h3 {
    font-family: var(--headers);
}


/* navbar */
.nav {
    background-color: var(--blue);
    padding: 0.5%;
    font-size: 1.4rem;
    font-family: var(--headers);
}

.nav img {
    width: 300px;
    height: auto;
    padding-bottom: 2%;
}

.inline-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    padding: 0% 3%;
    list-style: none;
}

/* links */

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: var(--white);
}

a:hover {
    color: var(--yellow);
    font-weight: bold;
}

a:active {
    color: var(--blue);
    font-weight: bold;
    background-color: var(--yellow);
}


/* footer */

footer img {
    width: 150px;
    height: auto;
}

footer ul{
    list-style: none;
    padding: 0;
    text-align: left;

}

footer li{
    text-align: left;
}
footer a:visited{
    color: white;
}

footer a:hover {
    color: var(--yellow);
    font-weight: bold;
}

footer a:active {
    color: var(--blue);
    font-weight: bold;
    background-color: var(--yellow);
}

.make-it {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2% 0 5% 0;
    background-color: var(--blue);
    color: var(--white);
    border-top: 5px solid var(--yellow);
    text-align: left;
    font-size: 1.4rem;
    font-family: var(--headers);
}

.follow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 28vw;
}

/* styling on homepage */
.comic-cover {
    width: 200px;
    height: auto;
}

.italic {
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.center-words { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.align-comics {
    display: flex;
    flex-direction: column;
    width: 200px;
    flex-wrap: wrap;
    margin: 1rem;
}

/* styling on comic page */
.card {
    display: flex;
    flex-direction: column;
    margin: 10vh auto;
    width: 90%;
    max-width: 100%;
    height: auto;
    border-radius: 40px;
    background-size: cover;
    border: var(--yellow) 5px solid;
}

.card-top {
    width: 100%;
    height: 100%;
    border-bottom: var(--yellow) 5px solid;
    border-radius: 35px 35px 0px 0px;
    background-position: center center;
    background-size: cover;
    background-color: var(--blue);
    text-transform: uppercase;
    text-align: center;
    color: var(--yellow);
    padding-bottom: 3%;
    padding-top: 3%;
}

.comic-card {
    width: 60%;
    max-width: 100%;
    height: 40vh;
    max-height: 70%;
    background-image: url(../images/batman.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 40px;
    border: var(--white) 5px solid;
    margin: auto;
    margin-bottom: 1.5em;
}

.card-bottom {
    width: 100%;
    height: fit-content;
    background: var(--white);
    border-radius: 0px 0px 35px 35px;
    padding: 4%;
}

.card-info-titles {
    text-decoration: underline;
    font-weight: bold;
    font-style: normal;
    color: #063C5E;
}

.yellow {
    color: var(--yellow);
}

.centered-text {
    text-align: center;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
}

.italic2 {
    font-style: italic;
}

/* containers */

.about-container {
    max-width: 65vw;
    margin: 4% auto;
    padding: 3% 2.75%;
    border: 4px solid var(--blue);
    background-color: var(--white);
}

.center-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin: auto;
}

.about-content {
background-color: var(--white);
max-width: auto;
font-size: 1.4rem;
}

.about-paragraph {
    padding: 0 0 5% 0;
}

.update-container {
    max-width: 80%;
    margin: 4% auto;
    border: 4px solid var(--blue);
    background-color: var(--white);
    text-align: center; 
    
}

.update-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: end;
    padding: 4%;

}

.create-container {
    max-width: 80%;
    margin: 4% auto;
    border: 4px solid var(--blue);
    background-color: var(--white);
    text-align: center;

}

.create-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: end;
    padding: 4%;
}

.create-content input[type=submit] {
    text-align: center;
    margin-left: 20%;
}

.login-container {
    max-width: 80%;
    margin: 4% auto;
    border: 4px solid var(--blue);
    background-color: var(--white);
    text-align: center;
}

.login-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: end;
    padding: 4%;
}

.cc-container {
    max-width: 80%;
    margin: 4% auto;
    border: 4px solid var(--blue);
    background-color: var(--white);
}

.cc-content {
    display: inline-block;
    margin: auto;
    text-align: left;
    padding: 4%;
    font-size: 1.4rem;
}

.ccc-container {
    max-width: 80%;
    margin: 4% auto;
    border: 4px solid var(--blue);
    background-color: var(--white);
}

.ccc-content {
    margin: auto;
    text-align: left;
    padding: 4%;
    font-size: 1.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ccc-content a:link {
    color: var(--blue);
    text-decoration: none;
}

.ccc-content a:visited {
    color: var(--blue);
}

.ccc-content a:hover {
    color: var(--teal);
    font-weight: bold;
}

.ccc-content a:active {
    color: var(--blue);
    font-weight: bold;
    background-color: var(--yellow);
}

.admin-container {
    max-width: 80%;
    margin: 4% auto;
    border: 4px solid var(--blue);
    background-color: var(--white);
}

.admin-content {
    margin: auto;
    padding: 4%;
    font-size: 1.4rem;
}

/* table */

.comics {
    margin: 5% auto;
    width: 100%;
    padding: 2%;
    border-collapse: collapse;
}

.comics tr:nth-child(even) {
    background-color: var(--grey);
}

.comics thead {
    background-color: var(--grey);
}

th, td {
    padding: 1%;
    border: var(--blue) solid 2px;
    max-width: 100%;
    font-size: 0.9em;
}

/* form elements */

input, select, textarea {
    padding: 0.5%;
    width: 20vw;
}

textarea {
    height: 15vh;
    resize: none;
}

form div {
    padding: 2%;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 40vw;
    margin-right: 10vw;
    margin-bottom: 5vh;
}

label[for=synopsis] {
    vertical-align: top;
}

label {
    font-size: 0.85em;
}

/* buttons */

input[type=submit] {
    background-color: var(--yellow);
    color: var(--blue);
    width: 5rem;
    margin: 0 auto;
    text-align: center;
    padding: 2% 2%;
}

input[type=button] {
    background-color: var(--yellow);
    color: var(--blue);
    width: fit-content;
    height: auto;
    margin: auto;
    text-align: center;
    display: block;
    padding: 0.25rem 0.25rem;
}

.ccc-container input[type=button][value="DISPLAY MORE"] {
    margin-bottom: 3rem;
}

input[type=button][value="EDIT"] {
    background-color: var(--blue);
    color: var(--white);
    width: 80px;
    padding: 0.25rem 0;
}

input[type=button][value="DELETE"] {
    background-color: var(--yellow);
    color: var(--blue);
    width: 80px;
    padding: 0.25rem 0;
}

.comic input[type=button] {
    margin: auto;
    display: block;
    width: fit-content;
    padding: 0.25rem 0.25rem;
}

tr input[type=button] {
    box-sizing: border-box;
    max-width: 100%;
}

/* menu icon */
a.menu-icon {
    display: block;
    color: var(--white);
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem 1rem;
}

/* media queries */
@media screen and (min-width: 320px) and (max-width: 768px) {
    ul.inline-nav li a {
        display: none;
    }

    footer.make-it {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 2% 0 5% 0;
        background-color: var(--blue);
        color: var(--white);
        border-top: 5px solid var(--yellow);
        text-align: left;
        font-size: 1.4rem;
        font-family: var(--headers);
        padding-left: 10vw;

    }

}

@media screen and (min-width: 768px) and (max-width: 1024) {
    .comic-card {
        width: 100%;
        max-width: 100%;
        height: 1000vh;
        max-height: 100%;
        background-image: url(../images/batman.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 40px;
        border: var(--white) 5px solid;
        margin: auto;
        margin-bottom: 1.5em;
}


}

@media screen and (min-width: 1024) {
    a.menu-icon {
        display: none;
    }

}