:root {
    --white: #ffffff;
    --blue: #063C5E; 
    --yellow: #FCCF14;
    --teal: #006B6B;
    --light-teal: #009E9E;
    --black: #000000;
    --grey: #C2C2C2;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 100vw;
    margin: 0;
    overflow-x: hidden;
    background-image: linear-gradient(to top, var(--teal) 0%, var(--light-teal), var(--white) 100%);
}


/* navbar */
.nav {
    background-color: var(--blue);
    padding: 0.5%;
    font-size: 1.4rem;
}

.nav img {
    width: 300px;
    height: auto;
    padding-bottom: 2%;
}

.inline-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    padding: 0% 3%;
    list-style: none;
}

/* links */

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: var(--white);
}

a:hover {
    color: var(--yellow);
    font-weight: bold;
}

a:active {
    color: var(--blue);
    font-weight: bold;
    background-color: var(--yellow);
}


/* footer */

footer img {
    width: 150px;
    height: auto;
}

footer ul{
    list-style: none;
    padding: 0;
    text-align: left;

}

footer li{
    text-align: left;
}
footer a:visited{
    color: white;
}

footer a:hover {
    color: var(--yellow);
    font-weight: bold;
}

footer a:active {
    color: var(--blue);
    font-weight: bold;
    background-color: var(--yellow);
}



.make-it {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2% 0 5% 0;
    background-color: var(--blue);
    color: white;
    border-top: 5px solid var(--yellow);
    text-align: left;
    font-size: 1.4rem;
}


/* styling on homepage */
.comic-cover {
    width: 200px;
    height: auto;
}

.italic {
    font-style: italic;
}

/* styling on comic page */
.card {
    margin: 10vh auto;
    width: 60%;
    max-width: 60%;
    border-radius: 40px;
    background-size: cover;
    border: var(--yellow) 5px solid;
}

.card-top {
    width: 100%;
    height: 100%;
    border-bottom: var(--yellow) 5px solid;
    border-radius: 36px 36px 0px 0px;
    background-position: center center;
    background-size: cover;
    background-color: var(--blue);
    text-transform: uppercase;
    text-align: center;
    color: var(--yellow);
    padding-bottom: 3%;
    padding-top: 3%;
}

.comic-card {
    width: 400px;
    height: 85vh;
    background-image: url(../images/batman.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 40px;
    border: var(--white) 5px solid;
    margin: auto;
}

.card-bottom {
    width: 100%;
    height: fit-content;
    background: var(--white);
    border-radius: 0px 0px 40px 40px;
    padding: 4%;
}

.card-info-titles {
    text-decoration: underline;
    font-weight: bold;
    font-style: normal;
    color: #063C5E;
}

.yellow {
    color: var(--yellow);
}

.centered-text {
    text-align: center;
}
.title {
    text-align: center;
    color: var(--blue);
}

/* containers */

.about-container {
    max-width: 65vw;
    margin: 4% auto;
    padding: 3% 2.75%;
    border: 4px solid var(--blue);
    background-color: var(--white);
}

.about-content {
background-color: var(--white);
max-width: auto;
font-size: 1.4rem;
}

.about-paragraph {
    padding: 0 0 5% 0;
}

.update-container {
    max-width: 80%;
    margin: 4% auto;
    border: 4px solid var(--blue);
    background-color: var(--white);
    text-align: center; 
    
}

.update-content {
    display: inline-block;
    margin: auto;
    text-align: end;
    padding: 4%;

}

.update-content input[type=submit] {
    text-align: center;
    margin-left: 20%;
}

.create-container {
    max-width: 80%;
    margin: 4% auto;
    border: 4px solid var(--blue);
    background-color: var(--white);
    text-align: center;

}

.create-content {
    display: inline-block;
    margin: auto;
    text-align: end;
    padding: 4%;
}

.create-content input[type=submit] {
    text-align: center;
    margin-left: 20%;
}

.login-container {
    max-width: 80%;
    margin: 4% auto;
    border: 4px solid var(--blue);
    background-color: var(--white);
    text-align: center;
}

.login-content {
    display: inline-block;
    margin: auto;
    text-align: end;
    padding: 4%;
}

.login-content input[type=submit] {
    text-align: center;
    margin-left: 20%;
}

.cc-container {
    max-width: 80%;
    margin: 4% auto;
    border: 4px solid var(--blue);
    background-color: var(--white);
}

.cc-content {
    display: inline-block;
    margin: auto;
    text-align: left;
    padding: 4%;
    font-size: 1.4rem;
}

.ccc-container {
    max-width: 80%;
    margin: 4% auto;
    border: 4px solid var(--blue);
    background-color: var(--white);
}

.ccc-content {
    margin: auto;
    text-align: left;
    padding: 4%;
    font-size: 1.4rem;
}

.ccc-content a:link {
    color: var(--black);
    text-decoration: underline;
}

.ccc-content a:visited {
    color: #551A8B;
}

.admin-container {
    max-width: 80%;
    margin: 4% auto;
    border: 4px solid var(--blue);
    background-color: var(--white);
}

.admin-content {
    margin: auto;
    padding: 4%;
    font-size: 1.4rem;
}

/* table */

.comics {
    margin: 5% auto;
    width: 100%;
    padding: 2%;
    border-collapse: collapse;

}

.comics tr:nth-child(even) {
    background-color: var(--grey);
}

.comics thead {
    background-color: var(--grey);
}

th, td {
    padding: 1%;
    border: var(--blue) solid 2px;
}


/* form elements */

input, select, textarea {
    padding: 0.5%;
    width: 20vw;
}

textarea {
    height: 15vh;
    resize: none;
}

form div {
    padding: 2%;
}

form {
    display: inline-block;
    max-width: 100%;
    width: 40vw;
    margin-right: 10vw;
    
}

label[for=synopsis] {
    vertical-align: top;
}

label {
    font-size: 1.4rem;
}



/* buttons */

input[type=submit] {
    background-color: var(--yellow);
    color: var(--blue);
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    padding: 1%;
}

input[type=button] {
    background-color: var(--yellow);
    color: var(--blue);
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}


tbody input[type=button] {
    background-color: var(--yellow);
    color: var(--blue);
    width: 100%;
    margin: 2% 0;
    text-align: center;
    padding: 2%;
}

.edit-button {
    background-color: var(--blue);
    color: var(--white);
}

.comic input[type=button] {
    margin-left: 43%;

}
