:root {
    --white: #ffffff;
    --blue: #063C5E; 
    --yellow: #FCCF14;
    --teal: #006B6B;
    --light-teal: #009E9E;


}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 100vw;
    margin: 0;
    overflow-x: hidden;
    background-image: linear-gradient(to top, var(--teal) 0%, var(--light-teal), var(--white) 100%);
}

/* navbar */
.nav {
    background-color: var(--blue);
    padding: 0.5%;
}

.nav img {
    width: 300px;
    height: auto;
    padding-bottom: 2%;
}

.inline-nav {
    display: inline-block;
    padding: 0% 3%;
}

/* links */
.nav li {
    list-style: none;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: var(--white);
}

a:hover {
    color: var(--yellow);
    font-weight: bold;
}

a:active {
    color: var(--blue);
    font-weight: bold;
    background-color: var(--yellow);
}


/* footer */
footer {
    background-color: var(--blue);
    color: white;
    padding: 20px 10px;
    border-top: 5px solid var(--yellow);
    text-align: center;
}

footer img {
    width: 150px;
    height: auto;
}

footer ul{
    list-style: none;
    padding: 0;
    text-align: center;

}
footer li{
    text-align: left;
}
footer a:visited{
    color: white;
}
.make-it{
    display: inline-block;
    margin: 0 100px;
}


/* styling on homepage */
.comic-cover {
    width: 200px;
    height: auto;
}

.italic {
    font-style: italic;
}

/* styling on comic page */
.card {
    margin: 10vh auto;
    width: 60%;
    max-width: 60%;
    border-radius: 40px;
    background-size: cover;
    border: var(--yellow) 5px solid;
}

.card-top {
    width: 100%;
    height: 100%;
    border-bottom: var(--yellow) 5px solid;
    border-radius: 36px 36px 0px 0px;
    background-position: center center;
    background-size: cover;
    background-color: var(--blue);
    text-transform: uppercase;
    text-align: center;
    color: var(--yellow);
    padding-bottom: 3%;
    padding-top: 3%;
}

.comic-card {
    width: 400px;
    height: 85vh;
    background-image: url(../images/batman.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 40px;
    border: var(--white) 5px solid;
    margin: auto;
}

.card-bottom {
    width: 100%;
    height: fit-content;
    background: var(--white);
    border-radius: 0px 0px 40px 40px;
    padding: 4%;
}

.card-info-titles {
    text-decoration: underline;
    font-weight: bold;
    font-style: normal;
    color: #063C5E;
}


.yellow {
    color: var(--yellow);
}

.title {
    text-align: center;
    color: var(--blue);
}

.centered-text {
    text-align: center;
}

/* containers */

.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 60px;
    border: 4px solid var(--blue);
    background-color: #fff;

}

.about-back{
background-image: linear-gradient(to top, #009E9E 0%, #fff 100%);
max-width: auto;
padding: 35px;

}

.update-container {
    max-width: 80%;
    margin: 4% auto;
    border: 4px solid var(--blue);
    background-color: var(--white);
    text-align: center; 
    
}

.update-content {
    display: inline-block;
    margin: auto;
    text-align: end;
    padding: 4%;

}

.update-content input[type=submit] {
    text-align: center;
    margin-left: 20%;
}

/* form elements */

input, select, textarea {
    padding: 0.5%;
    width: 20vw;
}

textarea {
    height: 15vh;
    resize: none;
}

form div {
    padding: 2%;
}

form {
    display: inline-block;
    max-width: 100%;
    width: 40vw;
    margin-right: 10vw;
    
}

label[for=synopsis] {
    vertical-align: top;
}

label {
    font-size: 1.4rem;
}



/* buttons */

input[type=submit] {
    background-color: var(--yellow);
    color: var(--blue);
    width: 5vw;
    margin: auto;
    text-align: center;
}

.blue-button {

}

